<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="style.css">
  <title>Intro to Angular</title>
</head>

<body ng-controller="mainCtrl">
  <div class="container why_angular">
    <div class="w_a_body">
      <h1>Why Angular?</h1>
      <div class=""> JQuery’s code quickly becomes complicated and hard to read. Harder to maintain.</div>
      <div class="w_a_list_container">
        <div class="w_a_list">
          Angular is:
        </div>
        <ul class="w_a_list">
          <li class=""> Modular<span>- Due to separation of concerns, you can keep your components small, focused, and easily pluggable.</span> </li>
          <li class=""> DRY <span>- Because the components are small and focused, they are reusable, preventing repeated code.</span></li>
          <li class=""> Readable <span>- No more spaghetti code, everything in its place.</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container spa_container">
    <div class="w_a_body">
      <h1>SPA Framework</h1>
      <div class=""> SPA stands for Single Page Application. This means the entire Application takes place on a single URL. </div>
      <div class="w_a_list_container">
        <div class="w_a_list">
          This is awesome because:
        </div>
        <ul class="w_a_list">
          <li class=""> No more page re-loads during standard navigation and for EVERY user interaction.</li>
          <li class=""> More responsive - Page reacts similarly to native application.</li>
          <li class=""> Increased performance - because the HTML is sent in the initial request, only data is requested from servers, decreasing load time for each state change.</li>
        </ul>
        <div class="w_a_list">
          Negatives:
        </div>
        <ul class="w_a_list">
          <li class=""> Increased initial load time. Because we are loading everything up front, the initial load time is slightly increased. </li>
          <li class=""> SEO - Until very recently, search engines like Google and Bing had a difficult time crawling and indexing Single Page Applications. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mvc_container">
    <div class="w_a_body">
      <h1>MVC</h1>
      <div class=""> MVC Stands for Model View Controller. MVC is an architectural concept that is not specific to Angular. </div>
      <div class="w_a_list_container">
        <div class="mvc_img">
          <img src="assets/EPqBH.png" alt="">
        </div>
        <div class="w_a_list">
          MVC:
        </div>
        <ul class="w_a_list">
          <li class="">The Model represents the business logic of your app</li>
          <li class="">The View is the app as displayed to the user.</li>
          <li class="">The Controller is what handles the modification of the model and the view based on user interaction. We will have access to the Controller from the DOM via "$scope".</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container scope" style="padding-top:15vh;">
    <div class="">
      <h1>$scope and Data-Binding</h1>
      <div class="">
        Scope is an object that refers to the application model. Scopes can watch expressions and propagate events.
      </div>
      <div class="w_a_list_container">
        <div class="w_a_list">
          $scope:
        </div>
        <ul class="w_a_list">
          <li class=""> $scope is JUST an object. There is nothing magic about it. It is an object that will have properties added to it (including methods), which are made accessible to the DOM via Data-Binding. </li>
          <li class=""> Scope is the glue between application controller and the view. </li>
          <li class=""> Both controllers and directives have reference to the scope, but not to each other. This is an important point since it makes the controllers view agnostic. </li>
        </ul>
        <div class="w_a_list">
          Data-Binding:
        </div>
        <ul class="w_a_list">
          <li class=""> Data-binding is the automatic synching of data between the model and view. </li>
          <li class=""> This lets you treat the model as the single-source-of-truth. The view is a projection of the model at all times. </li>
          <li class=""> When the model changes, the view reflects the change, and vice versa. </li>
        </ul>
        <div class="imgs">
          <div class="right_img">
            <img src="assets/One_Way_Data_Binding.png" alt="">
          </div>
          <div class="left_img">
            <img src="assets/Two_Way_Data_Binding.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ng_directives">
    <div class="directives_container">
      <h1>Angular Directives</h1>
      <div class=""> Directives are very powerful, and handle the majority of the work for us. They allow us to establish links between the View and the Model. Directives have the ability to execute methods, define behavior, attach controllers and $scope objects, manipulate
        the DOM, and more. </div>
      <div ng-cloak class="w_a_list_container">
        <div class="w_a_list">
          Directives:
        </div>
        <ul class="w_a_list">

          <li class="">
            <h3>ng-app</h3> - It is added to set the AngularJS section. Any HTML element that is a child of this directive will be part of our Application. Should be set as a high-level Element (HTML/Body).</li>

          <li class="">
            <h3>ng-controller</h3> - It is used to attach a controller class to the view. This attribute sets which controller (and thus which $scope) our data is bound to.</li>

          <li class="">
            <h3>ng-click</h3> - It is used to execute a method or expression when element is clicked. Most commonly used on buttons, though it can be added to ANY HTML element.</li>

          <li ng-style="myStyle">
            <h3>ng-style</h3> - It is used to set CSS style on an HTML element conditionally.<button type="button" name="button" ng-click="!myStyle  ? myStyle = {'background-color':'yellow'} : myStyle = null">Style</button></li>
          <blockquote>
            &lt;li ng-style="myStyle"&gt;<br />
            <span style="margin-left: 20px;">&lt;p&gt;g-style - It is used to set CSS style on an HTML element conditionally.&lt;/p&gt;</span>
            <span style="margin-left: 20px;"><br>&lt;button ng-click="!myStyle ? myStyle = {'background-color':'yellow'} : myStyle = null"&gt; Style &lt;/button&gt;</span> <br>&lt;/li&gt;
          </blockquote>


          <li ng-class="{strike : checked}">
            <h3>ng-class</h3> - The ngClass directive allows you to dynamically set CSS classes on an HTML element by databinding an expression that represents all classes to be added. Strike Through:<input style="margin-left:10px;" type="checkbox" ng-model="checked"></input>
          </li>
          <blockquote>
            &lt;li ng-class="{strike : checked}"&gt;
            <p style="margin-left: 20px;">&lt;p&gt;ng-class - The ngClass directive allows.... &lt;/p&gt;</p>
            <p style="margin-left: 20px;">&lt;input type="checkbox" ng-model="checked"&gt;Strike Through?&lt;/input&gt; </p>
            &lt;/li&gt;
          </blockquote>

          <li class="">
            <h3>ng-model</h3> - It is used to bind an input, select, text area etc. to a property on the $scope. <input type="text" ng-model="myInput" name="" value="">
          </li>

          <li class="ng_model_display"> Display for ng-model: {{myInput}} </li>
          <blockquote cite="http://">
            &lt;input type="text" ng-model="myInput"&gt;
            <br> &lt;li&gt; Display for ng-model: { { myInput } } &lt;/li&gt;
          </blockquote>

          <li class="">
            <h3>ng-repeat</h3> - It is used to loop through each item in collection to create a new template. </li>
          <blockquote cite="http://">
            $scope.items = ["cup", "bottle", "mouse"]
          </blockquote>
          <blockquote cite="http://">
            <p>
              &lt;ul ng-repeat="item in items"&gt;
            </p>
            <p style="margin-left: 20px;">
              &lt;li&gt; { { item } } &lt;/li&gt;
            </p>
            <p>
              &lt;/ul&gt;
            </p>
          </blockquote>
          <p>Displays as:</p>
          <blockquote class="not_blockquote">
            <ul class="" ng-repeat="item in items">
              <li class=""> {{ item }} </li>
            </ul>
          </blockquote>

          <li class="" ng-hide="show">
            <h3>ng-show/ng-hide</h3> - It works based on expression, if true then the element is shown or hidden respectively. <button type="button" ng-click="show = !show">Hide Me!</button>
          </li>
          <button type="button" ng-show="show" ng-click="show = !show">Show Me!</button>
          <blockquote cite="http://">
            <p>&lt;li ng-hide="show"&gt;</p>
            <p style="margin-left: 20px;">ng-show/ng-hide - It works based on...</p>
            <p>&lt;/li&gt;</p>
            <p>&lt;button type="button" ng-click="show = !show"&gt;Hide Me!lt/button&gt;</p>
            <p>&lt;button type="button" ng-show="show" ng-click="show = !show"&gt;Show Me!&lt;/button&gt;</p>
          </blockquote>
          <li class="">
            <h3>ng-if</h3> - It is used to remove or recreate an element in the DOM depending on an expression. This differs from show/hide in that with show/hide, the element is on the DOM, but is set to "display: none". With ng-if, if the provided expression does
            not evaluate to true, the element is not rendered to DOM at all.</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
  <script src="app.js" charset="utf-8"></script>
</body>

</html>

</html>
